*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #242629;
}

.container{
    color: #ffffff;
    line-height: 1.5;
    margin: 50px;
}

hr{
  margin: 50px 0;
}

.foto{
    width: 100%;
}

h1 {
  scroll-margin-top: 30px;
}

.botones{
    text-align: center;
}

.cuadro_de_texto{
    background-color: #222222;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

button {
  background-color: #34373b;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.botones{
    text-align: center;
}

button {
  background-color: #34373b;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button a {
  color: inherit;
  text-decoration: none;
  display: block;
}


/*TABLAS*/

table,th,td{
  border: 1px solid #3d4048;
  border-collapse: collapse;
  padding: 25px;
}

.cabecera{
  background-color: #5f6671;
}

.oscuro{
  background-color: #252629;
}

.claro{
  color: black;
  background-color: #f3f2f2;
}