.contenedor_amenazas {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid #ffffff;
}

.agentes_de_amenazas {
    flex: 1;
    min-width: 0;
    border: 1px solid #ffffff;
    margin: 20px;
    padding: 20px;
    height: auto;
}