.imagen-completa {
    width: 100%;
    height: auto;
}

.contenedor-tablas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

@media (max-width: 1000px) {
    .contenedor-tablas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .contenedor-tablas {
        grid-template-columns: 1fr; 
    }
}